<div class="container-fluid bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 px-0 py-4 order-2 order-md-1">
        <h1>Your cart <i class="fa fa-shopping-cart"></i></h1>
        <ul class="list-group list-group-flush">
          <ng-container *ngIf="shoppingListService.hasItems(); else noItems">
            <app-cart-item *ngFor="let product of shoppingListService.getShoppingList()" [product]="product"></app-cart-item>
          </ng-container>
          <ng-template #noItems>
            <li class="list-group-item">
              There are no items in your cart.
            </li>
          </ng-template>
        </ul>
      </div>
      <div class="col-12 col-md-4 order-1 order-md-2 border-left py-4 cart">
        <app-cart></app-cart>
      </div>
    </div>
  </div>
</div>
<div class="container pt-4 px-0">
  <div class="row">
      <div *ngFor="let product of products$ | async" class="col-6 col-lg-4 mb-4">
        <app-product [product]="product" (atc)="shoppingListService.addProduct($event);"></app-product>
      </div>
    </div>
</div>
